.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin: 0;
    text-align: center;
}

div {
    display: block;
}

a {
    text-decoration: none;
    color: #fff;
}

.wrapper {
    min-width: 1100px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.container-red-header {
    background-color: rgb(212, 61, 43);
    opacity: 0.9;
    height: 65px;
    min-width: 1100px;

}



.header {
    position: fixed;
    min-width: 1100px;
    z-index: 5;
    width: 100%;
}

.logo-container {
    float: left;
}

.logo-containerp {
    vertical-align: middle;
    display: inline-block;
    font-size: 12px;
    font-weight: lighter;
    color: #fff;
    margin-top: -55px;
}

.active {
    border-top: 5px solid rgba(255, 255, 255, 0.6);
    text-decoration: none;
    color: #fff;
}

.navigation-kopa:hover {
    border-top: 5px solid rgba(255, 255, 255, 0.6);
    text-decoration: none;
    color: #fff;
}

.navigation {
    float: right;
    padding: 27px;

}

.navigation-kopa{
    padding: 24px 10px 27px;
    font-size: 14px;
    font-weight: lighter;
    color: #fff;
    text-decoration: none;
}

.container-red-image {
    background-image: url("pictures/Header.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 0px;
    overflow: hidden;

}

.socslaids {
    text-align: center;
    padding-bottom: 20px;
}
.socslaids-icon {
    opacity: .5;
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
    min-width: 50px;
    text-decoration: none;
}
.socslaids-icon:hover {
    opacity: 1;
}
.socslaids-img {
    vertical-align: middle;
}



.container-red {
    padding-bottom: 0px;
    background-color: rgb(211, 53, 35);
    background-size: cover;
    min-width: 1100px;
    position: relative;
    padding-top: 0px;
    overflow: hidden;
    padding-bottom: 50px;
}


/*
.bigslider.slide-buttons{
  position: absolute;
  top: 40%;
  transform: translateY(-350%);
  right: -10%;
  display: block;
  transform: rotate(90deg);

}*/




.container-red h1 {
    position: relative;
    padding-bottom: 40px;
}

.pakalpojumi {
    min-width: 1100px;
    position: relative;
}

.block {
    float: left;
    box-sizing: border-box;
    width: 25%;
    padding: 0 15px;
}

.block p {
    line-height: 24px;
    font-weight: lighter;
    font-size: 16px;
}

.pakalpojumi h3 {
    margin-bottom: 32px;
    margin-top: 20px;
    font-size: 18px;
    text-transform: uppercase;
}

.container-green-image {
    background-image: url("pictures/bg-green.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 0px;
    overflow: hidden;
}

.worklist {
    font-size: 20px;
    width: 1000px;
    margin: 45px auto;
    padding-bottom: 30px;
}

.p {
    font-weight: lighter;
}

.aktivs-buttons {
    border-color: #fff;
}

.aktivs-buttons button {
    padding: 15px 15px;
    margin: 0px 20px;
    background: none;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid transparent;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    cursor: pointer;
    text-indent: 0px;
    display: inline-block;
}

.aktivs-buttons .active, .aktivs-buttons button:hover {
    border-radius: 8px;
    border-color: #fff;
}

.button {
    text-align: center;
    box-sizing: border-box;
    border-style: outset;
    border-width: 2px;
    padding: 2px 6px 3px;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
}

.portfolio-list {
    padding: 0px 0px 0px 0px;
    position: relative;
}

.imageblock {
    float: left;
    box-sizing: border-box;
    width: 25%;
    text-align: center;
    position: relative;
}

.portfolio-list .imageblock .big {
    width: 100%;
    display: block;
}

.portfolio-list .imageblock img.big {
    border-style: none;
}

div.text1 {
    height: 100%;
    background: rgba(87, 170, 104, 0.8);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    line-height: 24px;
    opacity: 0;
}

.vards {
    padding-top: 20px;
}

.imageblock:hover .text1 {
    opacity: 1;
}

.text1 img {
    padding-top: 85px;
    padding-right: 0px;
}

.container_price_list {
    background-image: url("pictures/bg-green.svg");
    background-size: cover;
    min-width: 1100px;
    position: relative;
    overflow: hidden;
    -webkit-filter: hue-rotate(65deg);
    filter: hue-rotate(65deg);
    padding-bottom: 30px;
}

.section-title {
    color: #fffefe;
    font-size: 30px;
    text-align: center;
    padding: 120px 0 70px 0;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0px;
}

.section-buttons {
    text-align: center;
}

.section-buttons button {
    padding: 10px 15px 10px 15px;
    margin: 0 36px 0 36px;
    background: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid transparent;
    display: inline-block;
    text-indent: 0px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.section-buttons .active, .section-buttons button:hover {
    border-color: #fff;
    border-radius: 8px;
}

button, input {
    overflow: visible;
}

.container_blueplan {
    background-color: #2a5759;
    padding-bottom: 0px;
    min-width: 1100px;
    position: relative;
}

.wrapper {
    width: 1100px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.plans_table {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    display: table;
    border-spacing: 2px;
    border-color: grey;
    padding-bottom: 30px;
    line-height: 30px;
}

.plans_table tr {
    border-bottom: 1px solid #437c7e;
}

.plans_table tr.cost td {
    font-weight: normal;
}

.plans_table button {
    background: none;
    border: 1px solid #ffe;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    padding: 10px 40px;
    cursor: pointer;
}

.plans_table button:hover {
    border-color: #fff;
    background: #437c7e
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.plans_table tr.row1 td {
    padding: 45px 0 30px;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
}

.plans_table td {
    width: 25%;
    padding: 20px 0;
    font-weight: lighter;
}

.plans_table .cost {
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
}

.plans_table tr.last {
    border: 0px;
}

td th {
    display: table-cell;
    vertical-align: inherit;
}

.plans_table td.sticky {
    background-color: #316769;
}

.last td {
    padding-bottom: 70px;
}

.container-green {
    min-width: 1100px;
    position: relative;
    padding-bottom: 40px;
    background-color: #57aa68;
}

.wrapper {
    width: 1100px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.section-title {
    text-align: center;
    color: #fffefe;
    font-size: 30px;
    padding: 115px 0 60px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.team-content p {
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}

.slide-buttons {
    margin-top: 45px;
    text-align: center;
}

.slide-buttons button {
    padding: 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    width: 10px;
    height: 10px;
    background: none;
    cursor: pointer;
    margin: 0 6px;
    display: inline-block;
    margin-bottom: 0;
}

.slide-buttons .active, .slide-buttons button:hover {
    background: #fffefe;
}

.team-list {
    margin-top: 20px;
    padding-bottom: 40px;
}

.team-list .block {
    margin: 0 5px;
    padding: 0;
    position: relative;
    width: calc(25% - 10px);
}

.team-list .social a {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    display: inline-block;
}

.team-list .social img {
    margin-top: 10px;
}

.block {
    float: left;
    box-sizing: border-box;
    text-align: center;
}

.text {
    height: 100%;
    background: rgba(87, 170, 104, 0.8);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    line-height: 24px;
    opacity: 0;
    padding: 25px 0px;
}

.block:hover .text {
    opacity: 1;
}

.name {
  margin-top: 20px;
    font-weight: normal;
    font-size: 18px;
}

.profession {
    margin-top: 10px;
    font-size: 13px;
}

.container-contacts-blue {
    background-image: url("pictures/bg-blue.svg");
    padding-bottom: 80px;
    background-size: cover;
}

.wrapper {
    width: 1100px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    text-align: center;
}

.section-title {
    color: #fffefe;
    font-size: 30px;
    text-align: center;
    padding: 120px 0 70px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
}

.form-row {
    margin: 10px 250px;
}

.field {
    color: rgb(210, 212, 224);
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    background-color: rgba(46, 45, 107, 0.7);
    border: 1px solid rgb(46, 45, 107);
}

.field::-webkit-input-placeholder {
    color: #aaa;
}

.field::-moz-placeholder {
    color: #aaa;
}

.field:-ms-input-placeholder {
    color: #aaa;
}

.field::placeholder {
    color: #aaa;
}

.textarea {
    resize: vertical;
    min-height: 320px;
    overflow: auto;
}

.submit {
    background-color: transparent;
    font-size: 16px;
    color: #fff;
    border: 1px solid #fff;
    width: 100%;
    text-align: center;
    display: block;
}

.submit:hover {
    background: rgba(46, 45, 107, 0.7);
    cursor: pointer;
}

p.info {
    font-size: 17px;
    text-align: center;
}

.map-container {
    min-width: 1100px;
    position: relative;
    height: 500px;
}

.map-container::after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.map iframe {
    height: 100%;
    width: 100%;
}

.footer-content {
    background-color: #2e2d6b;
    padding-bottom: 0;
}

.mapframe {
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

.copy {
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    padding: 30px 0;
}

.container {
    margin: 0 auto;
    min-width: 1100px;
}

/* --------------------
 * Hero slider
 * -------------------- */
.hero-slider {
  text-align: center;
  padding-top: 90px;
}
.hero-slider-item {
}
.hero-slider-img {
  max-width: 100%;
  margin-bottom: 50px;
}
.hero-slider-description {
  margin-bottom: 80px;
}

.hero-slider-description {
  margin-bottom: 80px;
  font-size: 20px;
  line-height: 25px;
  padding: 0 88px
}
